/*
================================
Udacity:	Front-end Nanodegree
Project: 	P1: Portfolio Site
================================

Colours given in the  mockup
orange		F8981C
lightGrey	BDBBBB
darkGrey	747704

*/
* {
   outline: 1px solid red !important;
}

/* TODO: Add font */